Source: ros-eloquent-urg-node
Section: misc
Priority: optional
Maintainer: Michael Ferguson <mfergs7@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-eloquent-ament-cmake, ros-eloquent-ament-lint-auto, ros-eloquent-ament-lint-common, ros-eloquent-builtin-interfaces, ros-eloquent-diagnostic-updater, ros-eloquent-laser-proc, ros-eloquent-rclcpp, ros-eloquent-rclcpp-components, ros-eloquent-rosidl-default-generators, ros-eloquent-sensor-msgs, ros-eloquent-std-srvs, ros-eloquent-urg-c, ros-eloquent-urg-node-msgs, ros-eloquent-ros-workspace
Homepage: http://ros.org/wiki/urg_node
Standards-Version: 3.9.2

Package: ros-eloquent-urg-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-eloquent-builtin-interfaces, ros-eloquent-diagnostic-updater, ros-eloquent-laser-proc, ros-eloquent-rclcpp, ros-eloquent-rclcpp-components, ros-eloquent-rosidl-default-generators, ros-eloquent-sensor-msgs, ros-eloquent-std-srvs, ros-eloquent-urg-c, ros-eloquent-urg-node-msgs, ros-eloquent-ros-workspace
Description: urg_node
